
body {
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	background-color: white;
}

.data-container{
	display: block;
	width: 60%;
	height: 100%;
	margin-top: 3%;
	margin-left: 20%;
	text-align: center;
	color: white;
	border-radius: 10px;
}

/* Fix sun Position */
.moon-sun{
	position: absolute;
	width: 80px;
	height: 80px;
	margin-left: 5%;
	margin-top: 3%;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
	border-radius: 50%;
}

#region{
	padding-top: 2%;
	font-size: 1.5em;
}

#date-time{
	font-size: 1em;
}

#temp{
	font-size: 4em;
}

.btns-container{
	position: absolute;
	width: 100px;
	left: 10%;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 1%;
}

.temp-btns{
	background-color: transparent;
	border: transparent;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5em;
	outline: none;
}

#condition{
	font-size: 1em;
}

.extra-data{
	font-size: 0.8em;
}

/*Details */
.temp-btns:hover{
	color: grey;
}

@media(max-width: 640px){
	.data-container{
		margin-top: 0%;
		width: 100%;
		height: 100vh;
		margin-left: 0%;
	}

	.moon-sun{
		width: 50px;
		height: 50px;
		margin-top: 35%;
		border-radius: 50%;
	}
	
	.btns-container{
		left: 0;
	}
}